a.contact img {
    width: 120px; /* Adjust the size as needed */
    height: auto;
    margin: 5px; /* Add some margin for spacing, adjust as needed */
}

a.contact:hover img {
    box-shadow: 0 0 10px #fff;
}

#contacts {
    text-align: left; /* Center the "Contacts" header */
}

.contact-icons {
    display: flex;
    justify-content: left; /* Center horizontally within the container */
}
